body {
    color:#333333;
    font-family: "Lucida Sans Unicode","Lucida Grande", sans-serif;
}
.sacola {
    background-image: url(../img/sacola.png);
    background-repeat: no-repeat;
    background-position: top right;
    font-size: 14px;
    text-align: right;
    width: 140px;
    padding-right: 35px;
    padding-top: 8px;
    position: absolute;
    top: 0;
    right: 0;
}
.menu-opcoes ul {
    font-size: 15px;
}
.menu-opcoes a {
    color:#003366;
}
header {
    position: relative;
}
.menu-opcoes ul li {
    display: inline;
    margin-left: 20px;
}
.container {
    margin: 0 auto;
    width: 940px;
}
.menu-opcoes {
    position: absolute;
    bottom: 0;
    right: 0;
}
.busca, 
.menu-departamentos{
    background-color: #dcdcdc;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
    width: 230px;
    float:left;
}
.menu-departamentos{
    text-transform: capitalize;
    clear:left;
    margin-top: 10px;
    padding-bottom: 10px;
}
.busca h2,
.busca form,
.menu-departamentos h2 {
    margin: 10px;
}
.menu-departamentos li{
    background-color: white;
    margin-bottom: 1px;
    padding: 5px 10px;
}
.menu-departamentos li ul {
    display:none;
}
.menu-departamentos li:hover ul {
    display: block;
}
.menu-departamentos ul ul li {
    background-color: #dcdcdc;
}
.menu-departamentos li li a::before {
    content: '- ';
    content: '\272A';
    padding-right: 5px;
}
.menu-departamentos a {
    color: #333333;
    text-decoration: none;
}
.busca input[type=search] {
    width: 170px;
}
.destaque {
    margin-top: 10px;
    position: relative;
}
.pause, .play {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
}
.pause {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 30px;
    width: 5px;
}
.play {
    border-left: 25px solid transparent;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
}
.painel {
    margin: 10px 0;
    padding: 10px;
    width: 445px;
    border-radius: 4px;
    box-shadow: inset 1px 1px 4px #999;

}
.painel h2::before {
    content: '\2756';
    padding-right: 5px;
    opacity: 0.4;
}
.novidades {
    float:left;
}
.mais-vendidos {
    float: right;
}
.painel li {
    display: inline-block;
    vertical-align: top;
    width: 140px;
    margin: 2px;
    padding-bottom: 10px;
    transition: 0.7s ease-out;
}
.painel li:hover {
    transform: scale(1.2) rotate(-5deg);
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 5px #333;
    transition: 0.7s ease-in;
}
.painel li:nth-child(2n):hover{
    transform: scale(1.2) rotate(5deg);
}
.painel h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-shadow: 3px 3px 2px rgba (255,255,255,0.8);
}
.painel a {
    color:#333;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}
.novidades {
    background-color: #f5dcdc;
    background:linear-gradient(#f5dcdc, #bebef4);
}
.busca {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.mais-vendidos {
    background-color: #dcdcf5;
    background: linear-gradient(#dcdcf5, #f4bebe);
}
footer {
    background-image: url(../img/fundo-rodape.png);
    clear: both;
    padding: 20px 0;
}
.social a {
    /*tamanho da imagem*/
    height: 32px;
    width: 32px;
    /*image replacement*/
    display: block;
    text-indent: -9999px;
}
.social a[href*="facebook.com"]{
    background-image: url(../img/facebook.png);
}
.social a[href*="twitter.com"]{
    background-image: url(../img/twitter.png);
}
.social a[href*="plus.google.com"]{
    background-image: url(../img/googleplus.png);
}
footer .container {
    position: relative;
}
.social {
    position: absolute;
    top: 12px;
    right: 0;
}
.social li {
    float:left;
    margin-left: 25px;
}
.busca button {
    /*adicionando imagem*/
    background-image: url(../img/busca.png);
    background-repeat: no-repeat;
    border:none;
    /*tamanho da imagem*/
    width: 20px;
    height: 20px;
    /*imagem replacement*/
    text-indent: -9999px;
}
.menu-opcoes a:hover {
    color:#007dc6;
}
.menu-opcoes a:active {
    color: #867dc6;
}
@media (max-width: 320px) {
    /*adicionar aqui os novos estilos para mobile*/
    .container {
        width: 96%;
    }
    header h1 {
        text-align: center;
    }
    header h1 img {
        max-width: 50%;
    }
    .sacola {
        display:none;
    }
    .menu-opcoes {
        position: static;
        text-align: center;
    }
    .menu-opcoes ul li {
        display: inline-block;
        margin: 5px;
    }
    .busca,.menu-departamentos,.banner-destaque img {
        margin-right: 0;
        width: 100%;
    }
    .painel {
        width: auto;
    }
    .painel li {
        width: 30%;
    }
    .painel img {
        width: 100%;
    }
}

@media (max-width: 939px) {
    
    .container {
        width: 96%;
    }
    header h1 {
        text-align: center;
    }
    header h1 img {
        max-width: 50%;
    }
    .sacola {
        display:none;
    }
    .menu-opcoes {
        position: static;
        text-align: center;
    }
    .menu-opcoes ul li {
        display: inline-block;
        margin: 5px;
    }
    .busca,.menu-departamentos,.banner-destaque img {
        margin-right: 0;
        width: 100%;
    }
    .painel {
        width: auto;
    }
    .painel li {
        width: 30%;
    }
    .painel img {
        width: 100%;
    }
    @media (min-width:480px){
        header h1 {
            margin: 5px 0;
        }
        .menu-departamentos {
            padding-bottom: 10px;
            margin-bottom: 10px;
        }
        .menu-departamentos nav > ul {
            column-count: 2;
        }
    }
     @media (min-width: 720px) {
        header h1 {
            text-align: left;
        }
        .menu-opcoes {
            position:absolute;
        }
        .sacola {
            display:block;
        }
        /*.painel li {
            width: 15%;
        }*/
        .busca,.menu-departamentos {
            margin-right: 1%;
            width: 30%;
        }
        .menu-departamentos nav > ul {
            column-count: 1;
        }
        .banner-destaque img {
            width: 69%;
        }
    }
}
