body {
    color:black;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}
h1 {
    background-image: url(../img/sobre-background.jpg);
    padding: 10px;
}
h2 {
    border-bottom: 2px solid black;
    margin-top: 30px;
}
figure {
    background-color: #f2eded;
    border: 1px solid #ccc;
    text-align:center;
    padding: 15px;
    margin: 30px;
}
figcaption {
    font-style: italic;
    margin-top: 10px;
}
p {
    padding: 0 45px;
    text-indent: 15px;
    text-align: justify;
}
#centro-distribuicao {
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}
footer {
    color: #777;
    margin: 30px 0;
    padding: 30px 0;
}
footer img {
    margin-right: 30px;
    vertical-align: middle;
    width: 94px;
}
#familia-pelho {
    float:right;
    margin: 0 0 10px 10px;
}
.menu-opcoes ul {
    font-size: 15px;
    padding-left: 0px;
    margin-right: 1px;
    margin-top: 0px;
    border-top-width: 0px;
    border-top-style: solid;
    padding-top: 0px;
    border-bottom-width: 0px;
    border-bottom-style: solid;
    margin-bottom: -17px;
}
.menu-opcoes a {
    color:#003366;
}
header {
    position: relative;
    height: 85px;
}
.menu-opcoes ul li {
    display: inline;
    margin-left: 20px;
}
.container {
    margin: 0 auto;
    width: 940px;
}
.menu-opcoes {
    position: absolute;
    bottom: 0;
    right: 0;
}
.menu-opcoes li:hover {
    background-color: red;
    color: black;
}
footer {
    background-image: url(../img/fundo-rodape.png);
    clear: both;
    padding: 20px;
}
.social a {
    /*tamanho da imagem*/
    height: 32px;
    width: 32px;
    /*image replacement*/
    display: block;
    text-indent: -9999px;
}
.social a[href*="facebook.com"]{
    background-image: url(../img/facebook.png);
    margin-left: 15px;
    margin-top: -22px;
    margin-right: -20px;
}
.social a[href*="twitter.com"]{
    background-image: url(../img/twitter.png);
    margin-left: 15px;
    margin-top: -22px;
    margin-right: -26px;
}
.social a[href*="plus.google.com"]{
    background-image: url(../img/googleplus.png);
    margin-left: 15px;
    margin-top: -22px;
    margin-right: 35px;
}
footer .container {
    position: relative;
    border-top-width: 0px;
    border-top-style: solid;
    padding-bottom: 17px;
}
.social {
    position: absolute;
    top: 12px;
    right: 0;
}
.social li {
    float:left;
    margin-left: 25px;
}
.busca button {
    /*adicionando imagem*/
    background-image: url(../img/busca.png);
    background-repeat: no-repeat;
    border:none;
    /*tamanho da imagem*/
    width: 20px;
    height: 20px;
    /*imagem replacement*/
    text-indent: -9999px;
}
p::first-letter {
    font-weight: bold;
}
h1 + p {
    text-indent: 0;
}
p::first-line {
    font-variant:small-caps;
}
