body {
    font:100%/1.5 arial, verdana;/*1.5 significa o line-height*/
}
header h1 {
    font-size: 2em;
    text-align: center;
    line-height: 2;
}
header li {
    border-bottom: 2px solid #000;
    line-height: 2;
    text-align: center;
}
header ul {
    border-top: 2px solid #000;
}
header ul a {
    background: yellow;
    display: block;
    text-decoration: none;
    color: #000;
}
header,footer {
    background: silver;
    min-height: 100px;
}
main {
    background: cyan;
    min-height: 600px;
}
.container {
    width: 100%; /*Ocupado o espaço inteiro da tela*/
    margin: auto;
    max-width: 1200px;/*tamanho max que sua tela terá*/
}
@media print { /*Tudo o q for escrito dentro desse css é o q pode ser imprimido*/
    header ul {
        display: none;
    }
}
@media screen and (min-width:768px) { /*Se a minha tela for no minimo 768 px*/
    header li {
        float:left;
        width: 16.66%;
    }
}
@media screen and (min-width:1024px) {
    header h1 {
        text-align: left;
        padding-left: 1em;
        line-height: 2;
    }
}

