/*seletor de tag*/
    h1 {
        color: red;
/*seletor de classe*/
}
    .destaque {
        background-color: yellow;
        color: red
}
    .borda {
        border: 5px solid red;
        color: blue !important;
}
/*seletor de id*/
    #principal {
        text-transform: uppercase;
        color: green;
}
/*combinação de seletor*/
    h1#principal {
        color: purple;
}
/*combinação de seletor*/
    h1.borda#principal {
        color: orange;
}
    body h1#principal.borda {
        color: brown;
}


