<meta charset="utf-8">
<h1>Calculo de Notas</h1>
<script src="js/pegaNumero.js"></script>
<script>
function calcularMediaFinal (nota1,nota2,nota3){
var media= ((nota1*2)+(nota2*3)+(nota3*5))/10
return media;
}
var n1=pegaNumero("Digite a 1ª Nota")
var n2=pegaNumero("Digite a 2ª Nota")
var n3=pegaNumero("Digite a 3ª Nota")
var media= calcularMediaFinal (n1,n2,n3)
document.write(`
Sua média final é: ${media.toFixed(1).replace(".",",")}
`)

</script>