<meta charset="utf-8">
<h1>Nome e Sobrenome</h1>
<script>
var name=prompt("Digite seu nome")
var lastname=prompt("Digite o Sobrenome")
document.write (`
Seu nome completo é: ${name} ${lastname}
`)


</script>