<meta charset="utf-8">
<h1>Nome do Time Vencedor</h1>
<script src="js/pegaNumero.js"></script>
<script>
var nomeTime1=prompt("Digite o nome do Time 1")
var golsTime1=pegaNumero("Digite o numero de Gols do Time 1")
var nomeTime2=prompt("Digite o nome do Time 2")
var golsTime2=pegaNumero("Digite o numero de Gols do Time 2")

document.write(`
${nomeTime1} ${golsTime1} x ${nomeTime2} ${golsTime2} <br> <br>
`)


if (golsTime1==golsTime2){

document.write(` <b>EMPATE </b>`)
}
// caso contrário, SE o Time 1 for maior que do Time 2
else if (golsTime1>golsTime2){
// exibe a mensagem abaixo
document.write(`O ${nomeTime1} é o <b> VENCEDOR </b>`)
}
// por fim, SE o Time 2 for maior que o Time 1
else if (golsTime1<golsTime2){ 
// exibe a mensagem abaixo
document.write(`O ${nomeTime2} é o <b> VENCEDOR </b> `)

}




</script>