<meta charset="utf-8">
<h1>Contando</h1>
Informe um número: <br>
<input type="text" id="campoNumero">
<button onclick="verNumero ()">
  Contar
</button>
<p id="contando">
    Informe o número para contar :)
</p>
<script>
    var numero=campoNumero.value
    campoNumero.focus()
    function verNumero() {
    //Comando Trim é para remover todos os espaços vazios
     if (isNaN (campoNumero.value)|| campoNumero.value.trim() == "") {
     alert("Por favor, digite um número válido !")
     
     }

    else {
        var numero= campoNumero.value
        var contador=numero
        document.write (`<h2>Contando...</h2><br>`) 
     for (var contador=numero; contador >=0; contador --) {
         document.write (`${contador}...<br>`)
        }
    // while (contador>=0) {
        
    //     document.write(`${contador}<br>`)
    //     contador=contador-1
    // }
        
    }
        campoNumero.value=""
        campoNumero.focus()
    }
                
    document.onkeyup = event=> {
        if (event.key === 'Enter')verNumero()
    
    }
          
    
    </script>
    