<meta charset="utf-8">
<h1>Lista de Convidados</h1>
Lista de Convidados:<br>
<input type="text" id="campoLista">
<br><br>
<button onclick="adicionar ()">
Adicionar Nome na Lista
</button>
<br><br>
<p id="listaConvidados">
    Sua Lista está vazia...
</p>

<script>
     var lista=[]
    campoLista.value=""
    campoLista.focus()
function adicionar () {

    var nomes=campoLista.value
    lista.push(nomes)
    listaConvidados.innerHTML=`
    Sua lista de convidados tem ${lista.length} nomes . Eles são: <br>
    ${lista.join("<br>")}

    `
    campoLista.value=""
    


}
/*Chama a função adicionar quando a tecla ENTER é pressionada */
document.onkeyup = event=> {
    if (event.key === 'Enter') adicionar ()
}

</script>