<meta charset="utf-8">
<h1>Numeros</h1>
<script src="js/pegaNumero.js"></script>
<script>
var num1=pegaNumero("Digite o numero 1")
var num2=pegaNumero("Digite o numero 3")

if (num1==num2){

document.write(`Os números são iguais.`)

}
// caso contrário, SE numero1 for maior que numero2
else if (num1>num2){
// exibe a mensagem abaixo
document.write(`O Número ${num1} é maior que o número ${num2} `)
}
// por fim, se nenhuma condição foi satisfeita é porque o numero 1 é MENOR que numero2 então
else if (num1<num2){
// exibe a mensagem abaixo
document.write(`O Número ${num1} é menor que o número ${num2} `)

}

</script>

