<meta charset="utf-8">
<h1>Lista de Convidados</h1>
<script>

var listaConvidados=[]

while (listaConvidados.length < 10){

    nomes=prompt("Informe o nome do convidado")

    listaConvidados.push(nomes)
}
document.write(`
        Sua lista de convidados possui os seguintes nomes:<br/>
        ${listaConvidados.join('<br>') }
    `);



</script>