<meta charset="utf-8">
<h1>Número</h1>
<script src="js/pegaNumero.js"></script>
<script>
var numero=pegaNumero("Digite o número")
var total= (numero-1)
document.write(`
Seu numero antecessor é: ${total}

`)


</script>