<meta charset="utf-8">
<h1>Calculo de Idade</h1>
<script src="js/pegaNumero.js"></script>
<script>
var idade=pegaNumero("Digite sua Idade")

var total_idade=idade*365
document.write(`
Você viveu ${total_idade.toFixed(1)} dias até o momento.
`)


</script>