<meta charset="utf-8">
<h1>Cálculo de Áreas</h1>
<script src="js/pegaNumero.js"></script>
<script>


    function calculoArea(forma) {

        var base = pegaNumero("Digite o valor da Base:")
            var altura = pegaNumero("Digite o valor da Altura")

        if (forma=="retangulo") {            
            var retangulo = base * altura
            document.write(`A Área do Retângulo é de: ${retangulo} <br>`)
            
        }

        else if (forma=="triangulo"){
            var triangulo = (base * altura) / 2
            document.write(`A Área do Triângulo é de: ${triangulo} <br>`)
        }

    }

</script>

<button onclick="calculoArea('retangulo')">
    Retângulo
</button>

<button onclick="calculoArea('triangulo')">
    Triângulo
</button>