<meta charset="utf-8">
<h1>Cálculo de Saldo</h1>
<script src="js/pegaNumero.js"></script>
<script src="js/formataMoeda.js"></script>
<script>
var saldo_atual=pegaNumero("Digite o seu Saldo Atual")
var valor_debito=pegaNumero("Digite o valor do seu Débito")
var valor_credito=pegaNumero("Digite o valor do seu Crédito")
var novo_saldo= (saldo_atual-valor_debito)+valor_credito

if (novo_saldo){

document.write(` Saldo: R$ ${novo_saldo} <br>
SALDO POSITIVO
`)
}
// caso contrário, SE o Novo Saldo for maior pu igual a 0 
else if (novo_saldo>=0){
// exibe a mensagem abaixo
document.write(`SALDO NEGATIVO </b>`)
}

</script>