<meta charset="utf-8">
<h1>Aposentadoria</h1>
<script>
var nome=prompt("Digite seu nome")
var nascimento=parseInt(prompt("Digite o Ano do seu nascimento"))
var ano_trabalho=parseInt(prompt("Digite o ano que começou a trabalhar"))
var total_idade=2019-nascimento;
var total_trabalho=2019-ano_trabalho;
var mensagem;

if (total_idade>=65 || total_trabalho >=30){

mensagem = "<b>REQUER APOSENTADORIA</b>";

}
else {
mensagem = "<b>NÃO REQUER APOSENTADORIA</b>";
}
document.write(`
Nome: ${nome}<br>
Idade:${total_idade} Anos <br>
Tempo de trabalho:${total_trabalho} Anos <br> <hr>
${mensagem}

`)
</script>