<meta charset= "utf-8">
<h1>Meu site é legal</h1>
<img src= "imagem.jpg" width = "400">
    <BR>Este site é legal para caramba ! 
    <script>
    //exibir um aletar com 2+2
    alert ("2+2")
    /*exibir a soma soma soma soma soma soma  soma soma soma 
     soma soma soma  soma soma soma  soma soma soma 
      soma soma soma  soma soma soma  soma soma soma  do 2+2*/
    alert (2+2)





    </script>