<meta charset= "utf-8">
<h1> Operações Matemáticas</h1>
<Script>
document.write ("305+87 é igual a:")
document.write (305+87)
document.write ("<br>")
document.write ("1087-843 é igual a:")
document.write (1087-843)
document.write ("<br>")
document.write ("385*35 é igual a:")
document.write (385*35)
document.write ("<br>")
document.write ("2015/77 é igual a:")
document.write (2015/77)








</Script>