<meta charset= "utf-8">
<h1> Operações Matemáticas</h1>
<Script>
document.write ("305+87 é igual a:" +(305+87) + "<br>")
document.write ("1087-843 é igual a:" + (1087-843) + "<br>")
document.write ("385*35 é igual a:" + (385*35) + "<br>")
document.write ("2015/77 é igual a:" + (2015/77) + "<br>")

</Script>
