<meta charset= "utf-8">
<h1>Cálculo das Idades</h1>
<Script>
document.write (`
A idade da Maria é:${2019-1993} anos <br> <br>
A idade da Regina é:${2019-1989} anos <br> <br>
A idade do Mauro é:${2019-1998} anos <br>

`)

</Script>