<meta charset= "utf-8">
<h1>Médias das Idades</h1>
<Script>
var ano_atual= new Date ().getFullYear()// pega o ano atual da máquina
var idade_joao= ano_atual-1993
var idade_regina= ano_atual-1997
var idade_pedro= ano_atual-1985 
var media_idades= (idade_joao+idade_regina+idade_pedro)/3
document.write (`A média das Idades é: ${media_idades.toFixed(2)}`)

</Script>