<meta charset= "utf-8">
<h1>Calcule seu IMC</h1>
<script>
var peso=prompt ("Digite seu peso em número").replace(",",".")
var altura=prompt ("Digite sua altura em número").replace(",",".")
var imc= peso/altura**2
document.write (`Seu Imc é: ${imc.toFixed(1)}`)



</script>
