<meta charset="utf-8">
<h1>Cadastro Simples</h1>
<script>
var ano_atual= new Date ().getFullYear()
var nome=prompt ("Digite Seu Nome")
var sobrenome=prompt ("Digite Seu Sobrenome")
var ano_nascimento=prompt ("Ano de Nascimento?")
var email=prompt ("Digite Seu E-mail")
var idade= ano_atual-ano_nascimento
document.write (`
<h2>Seus Dados Cadastrais São:</h2><br>
Nome Completo: ${nome} ${sobrenome}<br>
Idade: ${idade} Anos<br>
E-mail:${email}<br>
<img src= "imagem.jpg" width = "400">


`)

</Script>


