<meta charset="utf-8">
<h1>Calcule Seu Bonus</h1>
<script>
var nome=prompt ("Digite Seu Nome")
var salario=prompt ("Digite seu salario").replace(",",".")
var bonus= salario*0.30
document.write 
(`Boa tarde ${nome}<br>
Seu bônus este mês será de R$ ${bonus.toFixed(2).replace(".",",")}<br>
<img src= "imagem.1.jpg" width = "300">

Saiba onde aprendemos fazer esse site
<a href="http://www.caelum.com.br">Clicando aqui </a>!


`)


</script>
