<meta charset="utf-8">
<h1>Calculo de Circunferência</h1>
<script>
var diametro=prompt ("Digite o Diâmetro").replace(",",".")
var calculo_circunferencia= diametro*3.14
document.write (`A Circunferência é de: ${calculo_circunferencia.toFixed(1).replace(".",",")} Metros`)



</script>
