<meta charset="utf-8">
<h1>Somar Valores</h1>
<Script>
/*
parseFloat(): converte em número decimal = 1.55 , 50.785, etc
parseInt(): converte em número inteiro = 1,5,63,50
*/

var valor1= parseFloat(prompt ("Insira o Valor 1:").replace(",","."))
var valor2=parseFloat(prompt ("Insira o Valor 2:").replace(",","."))
var resultado= valor1 + valor2

document.write (`
O Resultado da Soma é: ${resultado}`)


</Script>