<meta charset="utf-8">
<h1>Calcular Notas</h1>
<script>
var nome= prompt ("Digite seu Nome")
var matricula= prompt ("Digite sua Matrícula")
var nota1= parseFloat(prompt("Digite a NOTA 1").replace(",","."))
var nota2= parseFloat(prompt ("Digite a NOTA 2").replace(",","."))
var nota3= parseFloat(prompt ("Digite a NOTA 3").replace(",","."))
var media_notas= (nota1+nota2+nota3)/3
document.write (`

Olá, ${nome} <br>
Matrícula: ${matricula}<br>
Sua média final é: ${media_notas.toFixed(1).replace(".",",")}

`)



</script>