<meta charset="utf-8">
<h1>Cálculo do Custo de um Carro</h1>
<script>
//pedir o custo de fábrica e converter em float
var fabrica= parseFloat(prompt("Qual o custo de Fábrica").replace(",","."))
//calculo de custo do distribuidor = 28% sobre o custo de fabrica
var distribuidor=fabrica*0.28;
//calculo de custo dos impostos = 45% sobre o custo de fábrica
var impostos=fabrica*0.45;
// custo do carro é a soma de tudo
var custo_carro= fabrica + distribuidor + impostos
//exibir
document.write(`

O custo de fábrica do seu veiculo é de R$ ${fabrica.toFixed(2).replace(".",",")}<br>
O custo do distribuidor é de R$ ${distribuidor.toFixed(2).replace(".",",")}<br>
O custo dos impostos são de R$ ${impostos.toFixed(2).replace(".",",")} <br>


Valor total do veiculo é de R$ ${custo_carro.toFixed(2).replace(".",",")}


`)


</script>