<meta charset="utf-8">
<h1>Cálculo de Salário</h1>
<script>
var salario_fixo= parseFloat(prompt("Digite seu salário Fixo").replace(",","."))
var comissao_carro= parseFloat(prompt("Digite a comissão por carro vendido").replace(",","."))
var qtd_carros_vendidos= parseInt(prompt("Digite a quantidade de carros vendidos"))
var total_vendas= parseFloat(prompt("Digite o total de vendas feitas").replace(",","."))
var total_comissao= qtd_carros_vendidos*comissao_carro
var total_percentual_vendas= total_vendas*0.05
var salario_final= salario_fixo+total_comissao+total_percentual_vendas
document.write(`

Salário Fixo é de R$ ${salario_fixo.toFixed(2).replace(".",",")}<br>
Comissão por carro vendido é de R$ ${comissao_carro.toFixed(2).replace(".",",")}<br>
Quantidade de Carros Vendidos ${qtd_carros_vendidos}<br>
Total de Vendas R$ ${total_vendas.toFixed(2).replace(".",",")}<br>
Salário final é de R$ ${salario_final.toFixed(2).replace(".",",")}<br>

`)
 </script>