<meta charset="utf-8">
<h1>Uber vs Carro</h1>
<h2> Carro </h2>
<script src="js/pegaNumero.js"></script>
<script src="js/formataMoeda.js"></script>
<script>
var distancia_em_km=pegaNumero("Digite a Distancia em km")
var autonomia=pegaNumero("Quantos Km seus faz por p/ litro?")
var preco_gasolina=pegaNumero("Digite o preço da gasolina")
var preco_estacionamento=pegaNumero("Digite o preço do Estacionamento (Diária)")
var gasto_gasolina= preco_gasolina*distancia_em_km/autonomia
var total_viagem= gasto_gasolina+preco_estacionamento

document.write (`
Preço da Gasolina: R$ ${formataMoeda(preco_gasolina)}<br>
Gasto c/ Gasolina: R$ ${formataMoeda(gasto_gasolina)}<br>
Gasto c/ Estacionamento: ${formataMoeda(preco_estacionamento)}<br>
Total da Viagem: R$ ${formataMoeda(total_viagem)} <br> 
`)

</script>
<h2>Uber</h2>
<script>
//esse 1,4 é pago a cada 1 km rodado pelo Uber
var gasto_km_rodado=1.4*distancia_em_km
// Velocidade media rodado
var velocidade_media=25
// A distancia percorrida divida pela velocidade media
var tempo_horas=distancia_em_km/velocidade_media
//Tranformar o tempo em minutos, tem que pegar o tempo_horas vezes 60(que seria os minutos)
var tempo_minuto=tempo_horas*60
// A cada 1 minuto de viagem é cobrado os 0,26 centavos.
var gasto_tempo= tempo_minuto*0.26
//Valor fixo 2,00 + 0,75 + o restante que seria o gasto de tempo + gasto em km rodado.
var total_uber=0.75+2+gasto_km_rodado+gasto_tempo
document.write(`
Total de Uber: R$ ${total_uber.toFixed(2).replace(".",",")}

`)



</script>