<meta charset="utf-8">
<h1> Confeitaria - Função Simples</h1>
<script>
function boloChocolate (){
document.write("Aqui está seu bolo de chocolate...<br>")
}

function boloFuba (){
document.write("Aqui está seu bolo de fubá...<br>")
}

function boloLaranja(){
document.write("Aqui está seu bolo de laranja...<br>")
}

</script>

<button onclick="boloChocolate()">
Quero o bolo de Chocolate
</button>
<button onclick="boloFuba()">
Quero o bolo de Fubá
</button>
<button onclick="boloLaranja()">
Quero o bolo de Laranja
</button>