<meta charset="utf-8">
<h1>Cálculo de Áreas</h1>
<button onclick="areaTriangulo()">
Triângulo
</button>
<button onclick="areaRetangulo()">
Retângulo
</button>
<script>
function areaTriangulo (){
var base=parseFloat(prompt("Digite a Base").replace(",","."))
var altura=parseFloat(prompt("Digite a Altura").replace(",","."))
var area=base*altura/2
document.write(`
A Área do Triângulo é de: ${area}
`)

}

function areaRetangulo (){
var base=parseFloat(prompt("Digite a Base").replace(",","."))
var altura=parseFloat(prompt("Digite a Altura").replace(",","."))
var area=base*altura
document.write(`
A Área do Retângulo é de: ${area}
`)

}


</script>






