<meta charset="utf-8">
<h1> Confeitaria - Função com Parâmetros</h1>
<script>

function fazerBolo(sabor='Morango', xicarasLeite= 2, imagem= '', url= '', ){
document.write (`<h2>Aqui está seu bolo de ${sabor}...
com ${xicarasLeite} xicara(s) de leite </h2> <br> <br>
<img src= "${imagem}" width = "400"/><br>
Receita <br>
<a href= ${url}> Clicando aqui para ter a Receita Completa !!! </a> <br>


`);
}


</script>

<button onclick = "fazerBolo('Chocolate', 5, 'bolochocolate.jpg','https://www.tudogostoso.com.br/receita/62547-a-melhor-receita-de-bolo-de-chocolate.html','<br>')">
Quero o bolo de Chocolate 
</button>
<button onclick="fazerBolo('Fubá',4,'bolodefuba.jpg', 'https://www.tudogostoso.com.br/receita/9254-bolo-de-fuba.html','<br>')">
Quero o bolo de Fubá
</button>
<button onclick="fazerBolo('Laranja',3,'bolodelaranja.jpeg','https://www.tudogostoso.com.br/receita/13953-bolo-de-laranja.html','<br>')">
Quero o bolo de Laranja
</button>
<button onclick="fazerBolo('Morango',5,'bolodemorango.jpg','https://www.tudogostoso.com.br/receita/115077-bolo-de-morango-otimo-para-aniversario.html','<br>')">
Quero o bolo de Morango
</button>