<meta charset="utf-8">
<h1>Função com Retorno</h1>
<!-- Importação de arquivos externos-->
<script src="js/formataMoeda.js"></script>
<script>
var numero=parseFloat(prompt("Digite um valor:").replace(",","."))
var valorconvertido=formataMoeda(numero)
alert(valorconvertido)







</script>