<meta charset="utf-8">
<h1>Cadastrar - Funcionários</h1>
<script src="js/pegaNumero.js"></script>
<script src="js/formataMoeda.js"></script>
<button onclick="cadastrar()">
Cadastrar Novo Funcionário
</button>
<script>
function cadastrar(){

var nome=prompt("Digite seu Nome")
var salario_atual=pegaNumero("Digite Seu Salário Atual")
var percentual_ajuste= pegaNumero("Digite o Percentual de Reajuste")
var percentual_calculo=percentual_ajuste/100
var salario_total= (percentual_calculo*salario_atual) + salario_atual

document.write(`
Olá, ${nome} <br>
Seu novo salário é de: ${formataMoeda(salario_total)}
`)

}

</script>