<meta charset="utf-8">
<h1>Cadastramento / Academia Caelum</h1>
<script src= "js/libIdade.js"></script>
<p>
    Preencha o formulário abaixo para realizar seu cadastro:
</p>

<!--Precisamos de um "id" toda vez que precisarmos identificar um campo ou 
tag especifica no HTML para o JavaScript manipular-->

<b> Nome:</b><br>
<input type="text" id="campoNome">
<br><br>

<b>Peso</b><br>
<input type="text" id="campoPeso">
<br><br>

<b>Altura</b><br>
<input type="text" id="campoAltura">
<br><br>

<b>Data de Nascimento</b><br>
<input type="text" id="campoNascimento">
<br><br>

<input type="checkbox" id="campoSouCardiaco"> Tenho problemas cardíacos
<br><br>

<br><br><button onclick="cadastrar ()">
    Cadastrar
</button>




<script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-masker/1.2.0/vanilla-masker.min.js"></script>

<script>
// Aplica a máscara no campo de Data de Nascimento
VMasker(campoNascimento).maskPattern('99/99/9999')

function cadastrar (){
// pega o valor digitado no 'campoNome' e guarda na variável 'nome'
var nome= campoNome.value
var peso= parseFloat(campoPeso.value.replace(',','.'))
var altura= parseFloat(campoAltura.value.replace(',','.'))
var nascimento= campoNascimento.value
var souCardiaco= campoSouCardiaco.checked

//recebe a data de nascimento como STRING= "12/04/1991"
//e transforma num ARRAY = ["12","04","1991"]
var dataPedacos=nascimento.split('/');
var dia= dataPedacos[0]//pega o valor do índice ZERO (dia)
var mes= dataPedacos [1] // pega o mês
var ano= dataPedacos [2] // pega o ano
var idade=calculaIdade(dia,mes,ano)

if (souCardiaco == true || idade < 14){
var frase= "PRECISA DE ACOMPANHAMENTO MÉDICO!"
    
}

else {

var frase= "NÃO PRECISA DE ACOMPANHAMENTO MEDICO!"

}

document.write(`
<h2>DADOS DA SUA FICHA</h2>
<hr>
Nome: ${nome} <br>
Peso: ${peso} Kg <br>
Altura: ${altura} M <br>
Data de Nascimento: ${nascimento} <br>
Idade: ${idade} Anos<br>
${frase}
`)

}

document.onkeyup = event=> {
    if (event.key === 'Enter') cadastrar ()

}
</script>