<meta charset="utf-8">
<h1>Trabalhando com Arrays</h1>
<script>

var lista= ["Arroz","Feijão","Cerveja","Corote","Óleo"]
alert (`O 1º item da lista é: ${lista[0]}`)
alert (`O Último item da lista é: ${lista[4]}`)
document.write(`
A minha lista tem ${lista.length} itens: <br>
${lista.join("<br>")}
`)

</script>