<meta charset="utf-8">
<h1>Lista de Supermercado</h1>
Nome do Item:<br>
<input type="text" id="campoNomeItem">
<br><br>
<button onclick="adicionar ()">
Adicionar
</button>
<br><br>
<p id="mostraLista">
    Sua Lista está vazia...
</p>

<script>
     var lista=[]
function adicionar () {

    var item=campoNomeItem.value
    lista.push(item)
    mostraLista.innerHTML=`
    Sua lista tem ${lista.length} itens. Eles são: <br>
    ${lista.join("<br>")}

    `
    campoNomeItem.value=""
    campoNomeItem.focus()


}
/*Chama a função adicionar quando a tecla ENTER é pressionada */
document.onkeyup = event=> {
    if (event.key === 'Enter') adicionar ()
}

</script>