<meta charset="utf8">
<h1> Buscar Endereço do Usuário</h1>
<script src="js/buscaCep.js"></script>
CEP: <br>
<input type="text" id="campoCep">
<button onclick="mostrarEndereco ()">
    Buscar CEP
</button>
<p id="resultado">
    Seus dados serão exibidos aqui. :)
</p>

<script>
function mostrarEndereco(){

var cep= campoCep.value.replace("-","")
// a função buscaCep faz a busca do CEP digitado e retorna um ARRAY com
// 4 informações (Endereço, Bairro, Cidade e Estado)
var dados= buscaCep(cep)
resultado.innerHTML=`
Seus dadis de endereço, são: <br>
Endereço: ${dados[0]}<br>
Bairro: ${dados[1]}<br>
Cidade: ${dados[2]}<br>
Estado: ${dados [3]}<br>

`




    
}




</script>