<!--planos de Viagem
assim que o usúario entrar na página, pedir para ele informar
a Idade dele, SE a idade estiver entre 12-17 anos, o plano é o TEEN,
SE a idade estiver entre 18-29,o plano é o Profissional
30+, o é o Xperiencie, CASO CONTRÁRIO, exibir: NÃO há planos p/ você-->
<meta charset="utf-8">
<h1>Planos de Viagem</h1>
<script>
var idade=parseInt(prompt("Digite sua Idade"))
if (idade >=12 && idade <=17){
document.write("Seu plano de viagem é o TEEN")

}
else if (idade >=18 && idade <=29){
document.write("Seu plano de viagem é o PROFESSIONAL")
}
else if (idade >=30){
document.write("Seu plano de viagem é o XPERIENCE")
}
else{
    document.write("Não há planos para você")
}


</script>
