<meta charset="utf-8">
<h1>Cálculo de Maçãs</h1>
<script src="js/formataMoeda.js"></script>
<script>
var macas=parseInt(prompt("Digite a quantidade de Maçãs compradas"))


if (macas<12){
    var macas = macas*1.30
    
document.write(`O total das suas maçãs deu:${formataMoeda(macas)}`)

}

else if (macas>=12){
    var macas_12 = macas*1
    
document.write(`O total das suas maçãs deu:${formataMoeda(macas_12)}`)

}


</script>


