<meta charset="utf-8">
<h1>Calculo de Notas</h1> 
<script src="js/pegaNumero.js"></script>
<script>
function calcularMediaFinal (nota1,nota2,){
var media= (nota1+nota2)/2
return media;
}
var n1=pegaNumero("Digite a 1ª Nota")
var n2=pegaNumero("Digite a 2ª Nota")
var media= calcularMediaFinal (n1,n2)

if (media <6){
    document.write(`NANANINÃOOOOO HAHAHAHAHA !!!:${media.toFixed(1)}`)
    setTimeout(() => document.write (`<img src= "burro.gif"/><br>TU TÁ REPROVADO MANÉ !!!
    `), 2000)
    
}

else if (media =>6){
    document.write(`APROVADO!!! :${media.toFixed(1)} <br> ,<img src= "aprovado.gif" width = "400">`)
}


</script>
