<meta charset="utf-8">
<h1>Partida de Xadrez</h1>
<script>
var inicio=parseFloat(prompt("Hora de Inicio de Jogo"))
var fim=parseFloat(prompt("Hora de fim do Jogo"))

if (inicio > fim){
    var horasJogadas=(24-inicio)+fim
 document.write(`Horas jogadas: ${horasJogadas}`)
}

else if (inicio==fim){
document.write(`Um dia inteiro de jogo`)

}


else { 
var horasJogadas= fim-inicio
document.write(`Horas jogadas: ${horasJogadas}`)


}

</script>