<meta charset="utf-8">
<h1></h1>
<script src="js/formataMoeda.js"></script>
<script> 
var salario_fixo= parseFloat(prompt("Digite seu salário Fixo").replace(",","."))
var valor_vendas= parseFloat(prompt("Digite o valor total das vendas").replace(",","."))

if (valor_vendas <= 1500) {
  var comissao= 0.03 * valor_vendas
  
}

else {
  var diferenca=valor_vendas - 1500
  var comissao = (diferenca * 0.05) + (1500 * 0.03)
   
}

var salario_total= comissao + salario_fixo
document.write(`O Seu salário final é de R$: ${formataMoeda(salario_total)}`)





</script>