<meta charset="utf-8">
<h1>Jogo de Adivinhação</h1>
<button onclick="jogar()">
Jogar
</button>
<script src="js/mostra.js"></script>
<script src="js/pegaNumero.js"></script>
<script src="js/pegaNumeroAleatorio.js"></script>

<script>

function jogar(){

var numeroSorteado=pegaNumeroAleatorio(0,10)
var chute=pegaNumero("Dê um chute aí")
//Enquanto o chute informado por menor que 0 ou maior que 10
//o programa continua pedindo um chute para o usuário
// ISNAN (): Verifica se algo não é um numero
while (chute <0 || chute > 10 || isNaN (chute)){
    chute=pegaNumero("Dê um chute entre 0 e 10:")
}

if (chute == numeroSorteado) {
mostra("Parabéns você acertou! o número sorteado era:" + numeroSorteado)
}
else {
mostra("Que pena você errou! O número sorteado era:" + numeroSorteado)
}

}




</script>