<meta charset="utf-8">
<h1>Máquina de Chá</h1>
<script>

alert ("Seu Chá está sem açúcar!")
var colheres_acucar=0

while (confirm("Quer mais açúcar?") == true){
//Pode usar no lugar do +=, ++ ou colheres_acucar + 1
colheres_acucar += 1
alert("Seu chá agora tem" + colheres_acucar +  "Colher (es) de açúcar!")

}
document.write("Seu chá ficou com" + colheres_acucar+  "colher (es) de açucar!<br> <br>")
document.write("Seu chá está servido!")



</script>