<meta charset="utf-8">
<h1>Acumulador de Valores</h1>
<script src="js/pegaNumero.js"></script>
<script>

var acumulador=0
//comando confirm existe e para opção de sim e não
if(confirm("Deseja informar um valor a ser somado?")==true){
    var valor=pegaNumero("Digite um valor:")
    acumulador+= valor

while (confirm("Quer informar outro valor?")==true){
    valor=pegaNumero("Digite um valor:")
    acumulador+= valor
}
}

document.write("O Resultado da soma é " + acumulador)



</script>