<meta charset="utf-8">
<h1>Tabuada</h1>
Informe um número: <br>
<input type="text" id="campoNumero">
<button onclick="verTabuada ()">
  Ver Tabuada

</button>
<p id="tabuada">
    Informe o número para ver sua tabuada aqui :)
</p>
<script>
    campoNumero.focus()
function verTabuada() {
//Comando Trim é para remover todos os espaços vazios
 if (isNaN (campoNumero.value)|| campoNumero.value.trim() == "") {
 alert("Por favor, digite um número válido !")

 }
else {
    var numero= campoNumero.value
    var multi=1
    var resultado=numero*multi
    tabuada.innerHTML=`${numero} x ${multi} = ${resultado} <br>`
    campoNumero.value=""
    campoNumero.focus()
    while (multi<10) {
     multi++
     resultado=numero*multi
     tabuada.innerHTML+=`${numero} x ${multi} = ${resultado} <br>`

    }

}
    campoNumero.value=""
    campoNumero.focus()
}

document.onkeyup = event=> {
    if (event.key === 'Enter')verTabuada()

}




</script>
