<meta charset="utf-8">
<h1>Tabuada (com FOR)</h1>
Informe um número: <br>
<input type="text" id="campoNumero">
<button onclick="verTabuada ()">
  Ver Tabuada

</button>
<p id="tabuada">
    Informe o número para ver sua tabuada aqui :)
</p>
<script>
    campoNumero.focus()
function verTabuada() {
//Comando Trim é para remover todos os espaços vazios
 if (isNaN (campoNumero.value)|| campoNumero.value.trim() == "") {
 alert("Por favor, digite um número válido !")

 }
else {
    var numero= campoNumero.value
    tabuada.innerHTML=""
    for (var multi=1;multi <=10; multi ++) {
    var resultado=numero*multi
    tabuada.innerHTML+=`${numero} x ${multi} = ${resultado} <br>`
    }
    }

    campoNumero.value=""
    campoNumero.focus()
}
    


document.onkeyup = event=> {
    if (event.key === 'Enter')verTabuada()

}




</script>
