<meta charset="utf-8">
<h1>Contando...</h1>
<script src="js/pegaNumero.js"></script>
<script>
var numero=pegaNumero("Digite um número para contar")
while(numero <= 0){

}
document.write("Contando...<br>")
for (var contador=1; contador <= numero; contador ++) {
    document.write (contador + "...<br>")

}

document.write("FIM")

</script>