<meta charset="utf-8">
<h1>Quantidade de Impares e Pares</h1>
<script>
var impares=0
var pares=0

for(var contador=1;contador<= 10; contador ++) {
var valor=parseInt(prompt(`Digite o ${contador}º valor:`))
if (valor %2 == 0) {
// é par
pares++
}
else{
// é impar
impares++

}
}
document.write(`Impares: ${impares} / Pares: ${pares}`)

</script>