<meta charset="utf-8">
<h1>Verificar quantos nomes estão repetidos na lista</h1>
<script>

var nomes=["Adriana","Fábio","Adriana","Marcos","Godinez","Chaves","Adriana"]
var repeticoes=0
var nomePesquisado=prompt("Digite um nome: ")

for (var contador=0;contador<nomes.length; contador ++){
if (nomes [contador]=="Adriana"){
    repeticoes++
}

}
document.write(`Repetição do nome ${nomePesquisado}: ${repeticoes}`)


</script>