<meta charset="utf-8">
<h1>Repetir Palavra</h1>
<script>
var palavra=prompt("Digite a palavra")
var qtd_x=parseInt(prompt("Digite a quantidade de vezes que você quer repetir"))


document.write (`A palavra escrita é <b> ${palavra}...</b> <br>`)
if (!isNaN(palavra)){
    alert("Animal, é para digitar uma palavra !!!!")
       
    }
else {
    
for (var contador=1;contador<=qtd_x;contador++){
       
    document.write (` <b> ${contador} </b> ${palavra}...<br>`)
    document.write (`A palavra escrita é <b> ${palavra}...</b> <br>`)
}  
}

   

</script>