<meta charset="utf-8">
<h1>Loteria</h1>
<button onclick="jogar()">
Jogar
</button>
<script src="js/mostra.js"></script>
<script src="js/pegaNumero.js"></script>
<script src="js/pegaNumeroAleatorio.js"></script>

<script>

function jogar(){
// Cria uma lista, e pega um numeto aleatorio de 1 a 60
var listaNumero =[]
//enquanto a quantidade de itens na lista for menor que 6
while(listaNumero.length <6){
    //sorteie um numero aleatorio
var numeroSorteado=pegaNumeroAleatorio(1,60)
//se o numero não está na lista
if (!listaNumero.includes(numeroSorteado))
// inclua o numero nela
listaNumero.push(numeroSorteado)
}

var chute=pegaNumero("Dê um chute aí")
//Enquanto o chute informado por menor que 0 ou maior que 10
//o programa continua pedindo um chute para o usuário
// ISNAN (): Verifica se algo não é um numero
while (chute <1 || chute > 60 || isNaN (chute)){
    chute=pegaNumero("Dê um chute entre 1 e 60:")
    
}
listaNumero.sort((v1,v2)=> v1-v2)

if (listaNumero.includes(chute)){
mostra("Parabéns você acertou! A lista de números era:" + listaNumero.join(","))
}
else {
mostra("Que pena você errou! A lista de números era:" + listaNumero.join(","))
}

}




</script>