<meta charset="utf-8">
<h1>Loteria</h1>
<button onclick="jogar()">
Jogar
</button>
<script src="js/mostra.js"></script>
<script src="js/pegaNumero.js"></script>
<script src="js/pegaNumeroAleatorio.js"></script>

<script>

function jogar(){
// Cria uma lista vazia
var listaNumero =[]
//enquanto a quantidade de itens na lista for menor que 6
while(listaNumero.length <6){
    //sorteie um numero aleatorio
var numeroSorteado=pegaNumeroAleatorio(1,60)
//se o numero não está na lista
if (!listaNumero.includes(numeroSorteado))
// Push está pegando o numero e incluindo no fim da lista
listaNumero.push(numeroSorteado)
}

var listaChutes =[]
while (listaChutes.length <6){
    listaChutes.push(pegaNumero("Dê um Chute aí"))
}
var contador=0
while (listaChutes.length>contador){
    
if (listaChutes [contador] <1 || listaChutes [contador] > 60 || isNaN (listaChutes [contador])){
    listaChutes [contador]=pegaNumero("Dê um chute entre 1 e 60:")
    
}
contador=contador+1
}

listaNumero.sort((v1,v2)=> v1-v2)
contador=0
while (listaChutes.length>contador){
    if (listaNumero.includes(listaChutes[contador])){
       
    mostra("Parabéns você acertou! A lista de números era:" + listaNumero.join(","))
    }
    else {
    mostra("Que pena você errou! A lista de números era:" + listaNumero.join(","))
   
    }
    contador++
}

}




</script>