<meta charset="utf-8">
<h1>Cálculos</h1>
<script src="js/pegaNumero.js"></script>

<script>
 function calcular(tipo) {

    var numero1 = pegaNumero("Digite o o valor:")
    var numero2 = pegaNumero("Digite o valor o 2º valor")

if (tipo=="somar") {            
    var soma = numero1 + numero2
    document.write(`A Soma dos dois numeros é: ${soma} <br>`)
    
}

else if (tipo=="subitrair"){
    var subtracao = numero1 - numero2
    document.write(`A Subitração dos dois numeros é: ${subtracao} <br>`)
}

else if (tipo=="dividir"){
    var divisao = numero1 / numero2
    document.write(`A Divisão dos dois numeros é: ${divisao} <br>`)
}

else if (tipo=="multiplicar"){
    var multiplicacao = numero1 * numero2
    document.write(`A Multiplicação dos dois numeros é: ${multiplicacao} <br>`)
}
}
</script>
<button onclick="calcular('somar')">
    Somar
    </button>
    <button onclick="calcular('subitrair')">
    Subitrair
    </button>
    <button onclick="calcular('dividir')">
    Dividir
    </button>
    <button onclick="calcular('multiplicar')">
    Multiplicar
    </button>