<meta charset="utf8">
<h1>Tela de Boas Vindas</h1>
<button onclick="dizerola()">
Dizer Olá
</button>
<script>

function dizerola() {
var nome=prompt ("Diga seu nome")
document.write(`
Olá, ${nome}!
`)


}

</script>