<meta charset="utf-8">
<h1>Cálculos</h1>
<script src="js/pegaNumero.js"></script>
<button onclick="somar()">
Somar
</button>
<button onclick="subitrair()">
Subitrair
</button>
<button onclick="dividir()">
Dividir
</button>
<button onclick="multiplicar()">
Multiplicar
</button>
<script>
function somar(){
var numero1= pegaNumero("Digite o primeiro valor")
var numero2= pegaNumero("Mais esse valor")
var soma=numero1+numero2
alert ("O resultado é\n" +soma)

}

function subitrair(){
var numero1= pegaNumero("Digite o primeiro valor")
var numero2= pegaNumero("Menos esse valor")
var subitrair=numero1-numero2
alert ("O resultado é\n" +subitrair)
}

function dividir(){
var numero1= pegaNumero("Digite o primeiro valor")
var numero2= pegaNumero("Mividido por esse valor")
var dividir=numero1/numero2
alert ("O resultado é\n"  +dividir)

}

function multiplicar(){
var numero1= pegaNumero("Digite o primeiro valor")
var numero2= pegaNumero("Multiplicado por esse valor")
var multiplicar=numero1*numero2
alert ("O resultado é\n" +multiplicar)

}
</script>
