<meta charset="utf-8">
<h1>Calculo de Horas</h1>
<script>
var valor_hora= prompt ("Quanto você ganha por hora???").replace(",",".")
var horas_trabalhadas= prompt("Digite suas horas horas trabalhas no ultimo mês").replace(",",".")
var valor_recebido= valor_hora * horas_trabalhadas
document.write(`
Você trabalhou ${horas_trabalhadas.replace(".",",")} horas no último mês e receberá R$ ${valor_recebido.toFixed(2).replace(".",",")}


`)


</script>e