<!-- Esta versão utiliza como solução o uso de 
     funções simples para o calculo das diferentes áreas -->
<meta charset="utf-8" />
<h1>Exercício 3</h1>

<!-- chama a função para calculo da área do triângulo -->
<button onclick="calcularAreaTriangulo()">
    Calcular Área do Triângulo
</button>

<!-- chama a função para calculo da área do retângulo -->
<button onclick="calcularAreaRetangulo()">
    Calcular Área do Retângulo
</button>

<script>

// função que calcula a área do retângulo somente
function calcularAreaRetangulo()
{
    // obtemos a base e a altura fornecidos pelo usuário e convertemos para float com parseFloat()
    // também poderíamos usar a função pegaNumero() se quiséssemos para pedir essas informações para o usuário
    var base = parseFloat(prompt("Informe o valor da BASE:").replace(",", "."));
    var altura = parseFloat(prompt("Informe o valor da ALTURA:").replace(",", "."));

    // calculamos a área do retângulo e exibimos as informações
    var areaRetangulo = base * altura;
    document.write(`
        A área do Retângulo é: ${ areaRetangulo }
    `);
}

// função que calcula a área do triângulo
function calcularAreaTriangulo()
{
    // obtemos a base e a altura fornecidos pelo usuário e convertemos para float com parseFloat()
    // também poderíamos usar a função pegaNumero() se quiséssemos para pedir essas informações para o usuário
    var base = parseFloat(prompt("Informe o valor da BASE:").replace(",", "."));
    var altura = parseFloat(prompt("Informe o valor da ALTURA:").replace(",", "."));

    // calculamos a área do triângulo e exibimos as informações
    var areaTriangulo = (base * altura) / 2;
    document.write(`
        A área do Triângulo é: ${ areaTriangulo }
    `);
}

</script>
