<meta charset="utf-8" />
<h1>Exercício 4</h1>

<script>

// obtemos a idade do usuário em ANOS
var idadeEmAnos = parseInt(prompt("Por favor, informe sua idade:"));
// multiplicamos a quantidade de anos pela quantidade de dias em 1 ano (365) para achar a idade em dias
var idadeEmDias = idadeEmAnos * 365;

// exibimos a quantidade de dias que a pessoa viveu
document.write(`
    Você viveu ${ idadeEmDias } dias até o momento.
`);

</script>
