<meta charset="utf-8" />
<h1>Exercício 11</h1>

<script>

    // iniciamos a lista de convidados vazia
    var listaConvidados = [];

    // ENQUANTO a quantidade de itens na lista for menor que 10...
    while (listaConvidados.length < 10) {
        // pedimos para o usuário informar um nome para ser adicionado
        var nomeConvidado = prompt("Informe o nome de um convidado:");
        // adicionamos o nome informado à lista
        listaConvidados.push(nomeConvidado);
    }

    // quando a lista atinge 10 itens, o looping para e aí exibimos na tela os nomes inseridos
    document.write(`
        Sua lista de convidados possui os seguintes nomes:<br/>
        ${ listaConvidados.join('<br>') }
    `);

</script>
