<!-- Esta versão utiliza como solução o uso de 
     funções com parâmetros para o calculo das diferentes áreas facilitando
     um pouquinho a nossa vida :) -->
<meta charset="utf-8" />
<h1>Exercício 3</h1>

<!-- chama a função calculaArea() só que dessa vez passando o valor 'triangulo'
     para o parâmetro forma da função -->
<button onclick="calcularArea('triangulo')">
    Calcular Área do Triângulo
</button>

<!-- chama a função calculaArea() diretamente já que o valor padrão do parâmetro
     forma é 'retangulo' -->
<button onclick="calcularArea('retangulo')">
    Calcular Área do Retângulo
</button>

<script>

// criamos a função que calcula áreas com um parâmetro chamado 'forma' que ajudará a identificar se queremos a área de um
// retângulo ou de um triângulo.
function calcularArea(forma)
{
    // obtemos a base e a altura fornecidos pelo usuário e convertemos para float com parseFloat()
    var base = parseFloat(prompt("Informe o valor da BASE:").replace(",", "."));
    var altura = parseFloat(prompt("Informe o valor da ALTURA:").replace(",", "."));

    // se o parâmetro forma for 'triangulo'
    if (forma == 'triangulo') {
        // calculamos a área do TRIANGULO usando a fórmula correta
        var resultado = (base * altura) / 2;
        document.write(`A área do triângulo é: ${resultado}`);
    }
    else {
        // calculamos a área do RETANGULO usando a fórmula correta
        var resultado = base * altura;
        document.write(`A área do retângulo é: ${resultado}`);
    }
}

</script>
