<meta charset="utf-8" />
<h1>Exercício 5</h1>

<script>

/* O prompt() recebe o valor das notas 1, 2 e 3 digitadas pelo usuário e substitui a "," pelo "." caso o usuário tenha usado
   vírgula para representar as casas decimais. Em seguida, converte o valor para float usando o parseFloat()
   OBS.: você também poderia usar a função pegaNumero() aqui se quisesse */
var nota1 = parseFloat(prompt("Informe a NOTA 1 do aluno:").replace(",", "."));
var nota2 = parseFloat(prompt("Informe a NOTA 2 do aluno:").replace(",", "."));
var nota3 = parseFloat(prompt("Informe a NOTA 3 do aluno:").replace(",", "."));

// calcula a média ponderada final usando a fórmula fornecida.
var mediaFinal = ((nota1 * 2) + (nota2 * 3) + (nota3 * 5)) / 10;

// exibe a média final na tela com apenas 1 casa decimal
document.write(`
    Sua nota final é: ${ mediaFinal.toFixed(1).replace(".", ",") }
`)

</script>
