<meta charset="utf-8" />
<h1>Exercício 10</h1>

<script src="js/pegaNumero.js"></script>
<script src="js/formataMoeda.js"></script>
<script>

    // obtemos com a função pegaNumero() o saldo, débito e crédito
    var saldo = pegaNumero("Informe seu saldo:");
    var debito = pegaNumero("Informe o valor do débito:");
    var credito = pegaNumero("Informe o valor do crédito:");

    // calculamos o novo saldo com base na fórmula fornecida
    var novoSaldo = (saldo - debito) + credito;

    // mostramos o novo saldo
    document.write(`SALDO: ${formataMoeda(novoSaldo)} <br>`);

    // se o novoSaldo for menor que 0
    if (novoSaldo < 0) {
        // mostramos SALDO NEGATIVO
        document.write("SALDO NEGATIVO");
    }
    else {
        // mostramos SALDO POSITIVO
        document.write("SALDO POSITIVO");
    }

</script>
