<meta charset="utf-8" />
<h1>Exercício 7</h1>

<script>

// obtemos as informações do TIME 1
var nomeTime1 = prompt("Nome do TIME 1:");
var golsTime1 = parseInt(prompt("Nº de Gols do TIME 1:"));
// obtemos as informações do TIME 2
var nomeTime2 = prompt("Nome do TIME 2:")
var golsTime2 = parseInt(prompt("Nº de Gols do TIME 2:"));

// se o numero de gols são iguais
if (golsTime1 == golsTime2) {
    // então houve EMPATE
    document.write("EMPATE!");
}
// caso contrário, se o time 1 fez mais gols
else if (golsTime1 > golsTime2) {
    // então o Time 1 é o vencedor
    document.write(`O vencedor é: ${ nomeTime1 }`);
}
// caso contrário
else {
    // o Time 2 é o vencedor
    document.write(`O vencedor é: ${ nomeTime2 }`);
}

</script>
