<meta charset="utf-8" />
<h1>Exercício 2</h1>

<script>

// recebemos o valor digitado pelo usuário, convertemos num inteiro e guardamos na variável numero
var numero = parseInt(prompt("Forneça um número qualquer:"));
// para saber o antecessor, basta subtrair 1 do numero informado
var antecessor = numero - 1;

// exibimos o número antecessor na tela
document.write(`
    O número antecessor é: ${ antecessor }
`);

</script>
