<meta charset="utf-8" />
<h1>Exercício 12</h1>

<script>

    // obtemos o ano atual para calcular idade e anos de trabalho
    var anoAtual = new Date().getFullYear();

    // obtemos as informações do usuário: nome, ano de nascimento e ano de ingresso no mercado de trabalho
    var nomeEmpregado = prompt("Informe o nome do empregado:");
    var anoNascimento = parseInt(prompt("Informe o ano de nascimento do empregado:"));
    var anoIngressoTrabalho = parseInt(prompt("Informe o ano de ingresso no mercado de trabalho:"));

    // calculamos a idade e anos trabalhados até o momento
    var idadeEmpregado = anoAtual - anoNascimento;
    var anosDeTrabalho = anoAtual - anoIngressoTrabalho;
    // criamos a variável que terá a mensagem sobre a aposentadoria
    var mensagemAposentadoria;

    /* 
    *   No documento é apresentada 2 condições válidas:
    *   a) Ter no mínimo 65 anos de idade (idadeEmpregado >= 65) OU
    *   b) Ter trabalhado no mínimo 30 anos (anosDeTrabalho >= 30)
    */
    if (idadeEmpregado >= 65 || anosDeTrabalho >= 30) {
        // se a condição foi satisfeita, então a mensagem será "REQUER APOSENTADORIA"
        mensagemAposentadoria = "REQUER APOSENTADORIA";
    }
    else {
        // caso contrário, a mensagem será "NÃO REQUER APOSENTADORIA"
        mensagemAposentadoria = "NÃO REQUER APOSENTADORIA"
    }

    // exibimos as informações
    document.write(`
        Nome: ${ nomeEmpregado } <br>
        ${ mensagemAposentadoria }
    `);

</script>
