<meta charset="utf-8" />
<h1>Exercício 6</h1>

<script>

// recebe através do prompt() os dois números e os converte para inteiro usando parseInt()
var numero1 = parseInt(prompt("Informe o primeiro número:"));
var numero2 = parseInt(prompt("Informe o segundo número:"));

// se ambos forem iguais
if (numero1 == numero2) {
    // mostramos a mensagem abaixo
    document.write("Os números são IGUAIS!");
}
// caso contrário, SE numero1 for maior que numero2
else if (numero1 > numero2) {
    // exibe a mensagem abaixo
    document.write(`${numero1} é MAIOR que ${numero2}`);
}
// por fim, se nenhuma condição foi satisfeita é porque o numero 1 é MENOR que numero2 então
else {
    // exibe a mensagem abaixo
    document.write(`${numero1} é MENOR que ${numero2}`);
}

</script>
