<meta charset="utf-8" />
<h1>Exercício 8</h1>

<script>

// contador começa em 50
var contador = 50;
// enquanto o contador for MAIOR ou IGUAL a 0 (zero)
while(contador >= 0) {
    // mostramos o número e pulamos uma linha
    document.write(contador + "<br>");
    // diminuimos 1 do contador a cada loop até que ele chegue em 0 (zero)
    contador = contador - 1;
}


</script>
