<meta charset="utf-8" />
<h1>Exercício 1</h1>

<script>

// pedimos o nome para o usuário
var nome = prompt('Digite seu nome:');
// pedimos o sobrenome para o usuário
var sobrenome = prompt('Digite seu sobrenome:');

// exibimos na tela o nome completo do usuário
document.write(`Seu nome completo é: ${nome} ${sobrenome}`);

</script>
