<meta charset="utf-8" />
<h1>Exercício 9</h1>

<button onclick="adicionarNome()">
    Adicionar Nome na Lista
</button>
<!-- tag que exibirá a lista -->
<p id="listaConvidados">Lista está vazia</p>

<script>

    // criamos uma lista de nomes que começa vazia
    var listaNomes = [];

    // preparamos a função que vai adicionar os nomes
    function adicionarNome()
    {
        // pedimos para o usuário informar o nome do convidado
        var nome = prompt("Informe um nome para ser inserido na lista:");
        // adicionamos o nome informado à lista
        listaNomes.push(nome);
        // pelo id 'listaConvidados' acessamos a tag <p> que exibirá a lista que criamos
        // juntamente com seus valores separados por vírgula e espaço
        listaConvidados.innerHTML = listaNomes.join(", ");
    }

</script>
